<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <title>Sistem Informasi Catur</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">

</head>

<body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">Sistem Informasi <b>Catur</b></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/utama">Beranda</a></li>
           <!-- <li><a href="/exim">Import / Export Data</a></li>-->
            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tabel Mutasi
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/mutasi_pemain">Pemain</a></li>
                <li><a href="/mutasi_pelatih">Pelatih</a></li>
                <li><a href="/mutasi_wasit">Wasit</a></li>
              </ul>
            </li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-wrapper">
      <div class="container">
        <section class="content-header">
            {% for message in get_flashed_messages()%}
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ message }}
          </div>
            {% endfor%}
        </section>

        <section class="content">
          <div class="box box-primary">
            <div class="box-header">
              <a href="/add_pemain">
              	<center>
              		<button type="button" class="btn btn-primary btn-flat">
              			<span class="glyphicon glyphicon-plus"></span> Tambah Pemain
              		</button>
              	</center>
              </a>
            </div>

            <div class="box-body">
              <table id="dataphone" class="table table-bordered table-striped">
                <thead align="center">
                  <tr>
                    <th >ID Pemain</th>
                    <th>Nama Pemain</th>
                    <th>Jenis Kelamin</th>
                    <th>Gelar</th>
                    <th>Tempat, tanggal lahir</th>
                    <th>Alamat</th>
                    <th>Pengrov Percasi</th>
                    <th>Telepon</th>
                    <th>Action</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% if data|length == 0 %}
                  <tr>
                    <td>Tidak ada data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                    {% else %}
                  
                      {% for coba in data %}
                    <tr>
                   
                    <td><a href="/view_pemain/{{coba[0]}}">{{ coba[2] }}</a></td>
                    <td>{{ coba[3] }}</td>
                    <td>{{ coba[4] }}</td>
                    <td>
                      {% if coba[18] != 0 %}
                      <p>GM</p>
                      {% endif %}
                      {% if coba[19] != 0 %}
                      <p>IM</p>
                      {% endif %}
                      {% if coba[20] != 0 %}
                      <p>FM</p>
                      {% endif %}
                      {% if coba[21] != 0 %}
                      <p>CM</p>
                      {% endif %}
                      {% if coba[22] != 0 %}
                      <p>WGM</p>
                      {% endif %}
                      {% if coba[23] != 0 %}
                      <p>WIM</p>
                      {% endif %}
                      {% if coba[24] != 0 %}
                      <p>WFM</p>
                      {% endif %}
                      {% if coba[25] != 0 %}
                      <p>WCM</p>
                      {% endif %}
                      {% if coba[26] != 0 %}
                      <p>MN</p>
                      {% endif %}
                      {% if coba[27] != 0 %}
                      <p>MP</p>
                      {% endif %}
                      {% if coba[28] != 0 %}
                      <p>MNW</p>
                      {% endif %}
                      {% if coba[29] != 0 %}
                      <p>MPW</p>
                      {% endif %}


                    </td>
                    <td>{{ coba[5] }}, {{ coba[6] }}</td>
                    <td>{{ coba[7] }}</td>
                    <td>{{ coba[13] }}</td>
                    <td>{{ coba[8] }}</td>
                    <td align="center">
                      <a href="/update_pemain/{{ coba[0]}}">
                        <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span></button>
                      </a>
                      <a href="/delete_pemain/{{ coba[0]}}">
                        <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                      </a>
                    </td>
                  </tr>
                      {% endfor %}
                    {% endif%}   
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="box box-primary">
            <div class="box-header">
              <a href="/add_pelatih">
              	<center>
              		<button type="button" class="btn btn-primary btn-flat">
              			<span class="glyphicon glyphicon-plus"></span> Tambah Pelatih
              		</button>
              	</center>
              </a>
            </div>

            <div class="box-body">
              <table id="dataphone" class="table table-bordered table-striped">
                <thead align="center">
                  <tr>
                    <th >ID Pelatih</th>
                    <th>Nama Pelatih</th>
                    <th>Jenis Kelamin</th>
                    <th>Gelar</th>
                    <th>Tempat, tanggal lahir</th>
                    <th>Klasifikasi</th>
                    <th>Alamat</th>
                    <th>Pengrov Percasi</th>
                    <th>Action</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% if data_pelatih|length == 0 %}
                  <tr>
                    <td>Tidak ada data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                    {% else %}
                      
                      {% for coba in data_pelatih %}
                    <tr>
                   
                    <td><a href="/view_pelatih/{{coba[0]}}">{{ coba[2] }}</a></td>
                    <td>{{ coba[3] }}</td>
                    <td>{{ coba[4] }}</td>
                    <td>
                      {% if coba[18] != 0 %}
                      <p>PNP</p>
                      {% endif %}
                      {% if coba[19] != 0 %}
                      <p>PNM</p>
                      {% endif %}
                      {% if coba[20] != 0 %}
                      <p>PN</p>
                      {% endif %}
                      {% if coba[21] != 0 %}
                      <p>INS</p>
                      {% endif %}
                      {% if coba[22] != 0 %}
                      <p>FST</p>
                      {% endif %}
                      {% if coba[23] != 0 %}
                      <p>FT</p>
                      {% endif %}
                      {% if coba[24] != 0 %}
                      <p>FI</p>
                      {% endif %}
                      {% if coba[25] != 0 %}
                      <p>NI</p>
                      {% endif %}
                      {% if coba[26] != 0 %}
                      <p>DI</p>
                      {% endif %}
                     


                    </td>
                    <td>{{ coba[5] }}, {{ coba[6] }}</td>
                    <td>{{ coba[7] }}</td>
                    <td>{{ coba[8] }}</td>
                    <td>{{ coba[13] }}</td>
                    <td align="center">
                      <a href="/update_pelatih/{{ coba[0]}}">
                        <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span></button>
                      </a>
                      <a href="/delete_pelatih/{{ coba[0]}}">
                        <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                      </a>
                    </td>
                  </tr>
                      {% endfor %}
                    {% endif%}   
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="box box-primary">
            <div class="box-header">
              <a href="/add_wasit">
              	<center>
              		<button type="button" class="btn btn-primary btn-flat">
              			<span class="glyphicon glyphicon-plus"></span> Tambah Wasit
              		</button>
              	</center>
              </a>
            </div>

            <div class="box-body">
              <table id="dataphone" class="table table-bordered table-striped">
                <thead align="center">
                  <tr>
                    <th >ID Wasit</th>
                    <th>Nama Wasit</th>
                    <th>Jenis Kelamin</th>
                    <th>Gelar</th>
                    <th>Tempat, tanggal lahir</th>
                    <th>Klasifikasi</th>
                    <th>Alamat</th>
                    <th>Pengrov Percasi</th>
                    <th>Action</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% if data_wasit|length == 0 %}
                  <tr>
                    <td>Tidak ada data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                    {% else %}
                  
                      {% for coba in data_wasit %}
                    <tr>
                    <td><a href="/view_wasit/{{coba[0]}}">{{ coba[2] }}</a></td>
                    <td>{{ coba[3] }}</td>
                    <td>{{ coba[4] }}</td>
                    <td>
                      {% if coba[18] != 0 %}
                      <p>WNP</p>
                      {% endif %}
                      {% if coba[19] != 0 %}
                      <p>WNM</p>
                      {% endif %}
                      {% if coba[20] != 0 %}
                      <p>WN</p>
                      {% endif %}
                      {% if coba[21] != 0 %}
                      <p>FA</p>
                      {% endif %}
                      {% if coba[22] != 0 %}
                      <p>IA</p>
                      {% endif %}
                      {% if coba[23] != 0 %}
                      <p>IO</p>
                      {% endif %}
                      
                    </td>
                    <td>{{ coba[5] }}, {{ coba[6] }}</td>
                    <td>{{ coba[8] }}</td>
                    <td>{{ coba[7] }}</td>
                    <td>{{ coba[13] }}</td>
                    <td align="center">
                      <a href="/update_wasit/{{ coba[0]}}">
                        <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span></button>
                      </a>
                      <a href="/delete_wasit/{{ coba[0]}}">
                        <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                      </a>
                    </td>
                  </tr>
                      {% endfor %}
                    {% endif%}   
                </tbody>
              </table>
            </div>
          </div>
        </section>


      </div>
    </div>

    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>SBD</b> 0.1
        </div>
      </div>
    </footer>
  </div>
  

  <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

  <script>
    $(function () {
      $("#dataphone").DataTable();
      
    });
  </script>

</body>
</html>
